<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="swissup_rtl_add_class_name" instance="Swissup\Rtl\Observer\AddClassName" />
    </event>
</config>
